<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.keith.mfl.rosterscurrent.daily</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Library/Frameworks/Python.framework/Versions/3.12/bin/python3</string>
    <string>/Users/keithcreelman/Documents/New project/etl/mfl_etl_full/loadrosterscurrent</string>
    <string>--daily-midnight</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/keithcreelman/Documents/New project/etl/mfl_etl_full</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>5</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/keithcreelman/Documents/New project/etl/logs/rosterscurrent.daily.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/keithcreelman/Documents/New project/etl/logs/rosterscurrent.daily.err.log</string>
</dict>
</plist>
